<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="transport" name="JMX Transport" schema="schema/transport.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.equinox.jmx.internal.client.ui.ClientPerspectiveFactory"
            fixed="true"
            icon="icons/perspective.gif"
            id="org.eclipse.equinox.jmx.client.ui.ClientPerspectiveFactory"
            name="%clientPerspectiveName"/>
   </extension>
   <!-- Perspective extensions -->
   <!-- UI Action sets -->
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.equinox.jmx.internal.client.ui.contributionsview.ContributionsViewPart"
            icon="icons/contributions_view.gif"
            id="org.eclipse.equinox.jmx.client.ui.contributionsview"
            name="%contributionsViewName">
      </view>
      <view
            allowMultiple="false"
            class="org.eclipse.equinox.jmx.internal.client.ui.mbeaninfoview.MBeanInfoViewPart"
            icon="icons/contribution_desc_view.gif"
            id="org.eclipse.equinox.jmx.client.ui.mbeaninfoview"
            name="%mbeanInfoViewName"/>
      <view
            allowMultiple="false"
            class="org.eclipse.equinox.jmx.internal.client.ui.invocationView.InvocationView"
            icon="icons/perspective.gif"
            id="org.eclipse.equinox.jmx.client.ui.invocationView"
            name="Invocation View"/>
      <view
            allowMultiple="false"
            class="org.eclipse.equinox.jmx.internal.client.ui.jmxserversview.JmxServersView"
            icon="icons/perspective.gif"
            id="org.eclipse.equinox.jmx.client.ui.jmxserversView"
            name="JMX Servers View"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.equinox.jmx.ui.jmxContributionActionMenu"
            objectClass="org.eclipse.equinox.jmx.common.ContributionProxy">
         <action
               class="info.evanchik.eclipse.karaf.ui.Action1"
               id="org.eclipse.equinox.jmx.ui.defaultViewAction"
               label="&amp;View">
         </action>
         <menu
               id="jmxclient.ui.viewAs"
               label="View &amp;As">
            <groupMarker
                  name="viewAsGroup">
            </groupMarker>
            <separator
                  name="viewAsSeparator1">
            </separator>
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="info.evanchik.eclipse.karaf.ui.Action2"
               id="org.eclipse.equinox.jmx.ui.action2"
               label="&amp;Default View"
               menubarPath="jmxclient.ui.viewAs/viewAsGroup">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.equinox.jmx.ui.jmxServerActionMenu"
            objectClass="org.eclipse.equinox.jmx.client.JMXServiceDescriptor">
         <action
               class="org.eclipse.equinox.jmx.client.Action1"
               id="org.eclipse.equinox.jmx.client.disconnectAction"
               label="&amp;Disconnect">
         </action>
         <action
               class="org.eclipse.equinox.jmx.client.Action2"
               id="org.eclipse.equinox.jmx.client.removeAction"
               label="&amp;Remove">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.equinox.jmx.client.jmxServerManagement"
            targetID="org.eclipse.equinox.jmx.client.ui.jmxserversView">
         <action
               class="org.eclipse.equinox.jmx.internal.client.ui.actions.NewJmxServerAction"
               id="org.eclipse.equinox.jmx.client.newJmxServerAction"
               label="&amp;Add"
               menubarPath="additions"
               style="push"
               tooltip="Add a JMX Server">
         </action>
      </viewContribution>
   </extension>
  
 </plugin>
